.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    height: 30vh;
    /* background-image: linear-gradient(rgba(150, 150, 150, 1), hsla(182, 33%, 32%, 0.95)); */
    background-color: gray;
    position: sticky;
    bottom:0;
}

.footer h4 {
    margin-bottom: 25px;
    /* margin-top: 20px; */
    font-weight: 700;
    color: var(--white-color);
    border-radius: 10px;
    font-size: 20px;
}

.footer p {
    color: var(--white-color);
    font-size: 15px;
}

.icons {
    color: var(--white-color);
    cursor: pointer;
    padding: 18px;
    font-size: 2em;
    display: flex;
    justify-content: center;
}


.iconsi:not(:last-child) {
    margin-right: 20px;
}


.iconsi:hover {
    transform: scale(1.8);
}