:root {
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-items-hover-color: #3b5378;
    --nav-bg-color: #376B6D;

    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 5px 25px rgba(0, 0, 0/ 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #14246c;
    --scroll-thumb-hover-color: #3556b2;
    --hover-color: rgb(109, 225, 248);
    --logo-hover-color: rgb(238, 128, 109);
    --black: rgb(0, 0, 0);
}

/* ====== scroll bar ======= */

::-webkit-scrollbar {
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--nav-bg-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 196, 156);
}

/* ====== css ======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--body-bg-color);
}

section {
    background: var(--body-bg-color);
}

header{
    z-index: 999;
    position: sticky;
    top:0;
    width: 100%;
    height: 6vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: 1s ease;
    transition-property: height,background;
    background-color: var(--nav-bg-color);
    font-size: 16px;
    font-weight: 900;
}

header.sticky{
    height: calc(2.5rem+1rem);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    transition: 0.3s ease;
    
}

.nav-close-btn,.nav-menu-btn {
    display: none;
}




header .logo img{
    float: left;
    max-height: 55px;
    padding: 5px;
}

header .logo img:first-child{
    margin-top: 0.25rem;
    width:48px;
    height: 48px;
}

.navigation .nav-items a,.user {
    /*  */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-weight: 900;
    margin-left: 10px;
    transition: 0.3s ease;
    /*  */
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}




.navigation .nav-items a:not(:last-child) {
    margin-right: 45px;
}

header .navigation .nav-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .nav-items a:hover:before {
    width: 100%;
    background-color:#feda02 ;
}

header .navigation .nav-items a:hover{
    color:#feda02;
}
