
/* 主要頁面--------------------------------------- */
.scheduleMainpage {
    width: 100%;
    height: calc(100vh - 6vh);
    display: flex;
}

/* 行程表------------------------------------------ */
.scheduleMainpage .schedule {
    width: 30%;
    height: 100%;
}

/* 行程表頭部--------------------------- */
.scheduleMainpage .scheduleHeader {
    text-align: center;
    font-weight: 700;
    height: 180px;
    /* background-color: #eaeac3; */
}

.scheduleMainpage .scheduleTitle {
    padding-top: 5%;
    font-size: 22px;
}

.scheduleMainpage .scheduleTitle div {
    font-size: 16px;
    margin: 4% 0 2%;
}

.scheduleMainpage .scheduleTitle select,
.scheduleMainpage .scheduleTitle option {
    font-size: 1.1rem;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid var(--nav-bg-color);
    /* color: #376B6D; */
    font-weight: 700;
    cursor: pointer;
}

/* 非選定的行程表選項 */
.scheduleMainpage .scheduleTitle option:not(:checked) {
    background-color: var(--nav-bg-color);
    color: #fff;
}

.scheduleMainpage .scheduleTitle select:focus {
    box-shadow: 0 0 5px var(--nav-bg-color);
}


/* 分享等按鈕--------------*/

.scheduleMainpage .scheduleHeader button {
    background-color: var(--nav-bg-color);
    color: #fff;
    padding: 2%;
    font-weight: 900;
    font-size: 16px;
    border-radius: 10px;
    border: 1.5px solid var(--nav-bg-color);
    margin: 0 2%;
    cursor: pointer;
}

.scheduleMainpage .scheduleHeader button:hover {
    background-color: #feda02;
    color: #000;
    box-shadow: 0 0 5px #4f4f4f;
}




/* 行程表日期bar------------------------ */
.scheduleMainpage .scheduleDaybar {
    display: flex;
    font-weight: 700;
    height: 50px;
}

.scheduleMainpage .scheduleDaybar>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduleMainpage .scheduleDaybar div:not(:first-child, :last-child) {
    width: calc((100%-60px)/3);
    text-align: center;
    border: 3px solid var(--nav-bg-color);
    background-color: #fff;
    color:var(--nav-bg-color);
    cursor: move;
}

/* 日期bar的左鍵及右鍵------------------ */
.scheduleMainpage .prev,
.scheduleMainpage .next {
    background-color: var(--nav-bg-color);
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.scheduleMainpage .prev:hover,
.scheduleMainpage .next:hover {
    background-color: #E8B647;
    box-shadow: 0 0 5px #4f4f4f;
}

/* 左鍵 */
.scheduleMainpage .prev div {
    background-color: #fff;
    width: 15px;
    height: 40%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

/* 右鍵 */
.scheduleMainpage  .next div {
    width: 15px;
    height: 40%;
    background-color: #fff;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}



/* 行程表景點區------------------- */
.scheduleMainpage .tripSpot {
    width: 100%;
    height: calc(100% - 180px - 50px);
    overflow-y: scroll;
    text-align: center;
    font-weight: 700;
}

/* 景點處最上方時間顯示(禮拜幾) */
.scheduleMainpage .dayNum {
    padding: 6px 0;
    color:var(--nav-bg-color);
}

/* 行程表早上、下午、晚上分布 */
.scheduleMainpage .dayTime{
    padding: 3px 15px 0;
    width: fit-content;
    border-radius: 30px;
    vertical-align:middle;
    margin: auto;
    background-color: var(--nav-bg-color);
    color:#fff;
}

/* 景點文字及照片排版 */
.scheduleMainpage .airplane,
.scheduleMainpage .spot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3% 0;
    margin: 3% 0;
    box-shadow: 0 0 5px #acacac;
    cursor: grab;
}


.scheduleMainpage .spot:hover {
    box-shadow: 0 0 5px #4f4f4f;
}

.scheduleMainpage .airplane {
    background-color: #dddddd;
    cursor: auto;
}

/* 景點照片 */
.scheduleMainpage .tripSpot img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

/* 飛機icon */
.scheduleMainpage .airplane img {
    object-fit: contain;
    background-color: #fff;
}

.scheduleMainpage .tripSpot .text {
    text-align: start;
    font-weight: 700;
    padding: 3% 0.5%;
}

.scheduleMainpage .tripSpot button {
    background-color: var(--nav-bg-color);
    color: #fff;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.scheduleMainpage .tripSpot button:hover {
    box-shadow: 0 0 5px #4f4f4f;
}

/* 景點文字大小調整 */
.scheduleMainpage .text {
    width: 60%;
}

.scheduleMainpage .text .name {
    font-size: 1.5rem;
}

.scheduleMainpage .text .info {
    font-size: 0.8rem;

}

.scheduleMainpage .text .info span {
    color: #da663c;
    font-size: 16px;
}

.scheduleMainpage .text .Addr {
    width: 100%;
    height: 2rem;
    font-size: 0.75rem;
    color: #7a7a7a;
}


/* ------------------------------------------ */


/* 收藏名單----------------------------------- */
.scheduleMainpage .favorite {
    border: 8px solid #feda02;
    width: 15vw;
    height: 100%;
    text-align: center;
    position: relative;
    top: 0;
    font-weight: 650;
    color: var(--nav-bg-color);
    z-index: 100;
    /* display: none; */
}

/* 收藏名單設定 */
.scheduleMainpage .listinfo{
    width: 80%;
    height: 100px;
    object-fit: cover;
    margin: 5% auto;
    border-radius: 5px;
    cursor: grab;
    border-radius: 10px;
    border: 5px solid var(--nav-bg-color);
    cursor: grab;
    z-index: 99;
}

.scheduleMainpage .favorite .listinfo:hover {
    box-shadow: 0 0 5px #4f4f4f;
}

.scheduleMainpage .favorite img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.scheduleMainpage .favorite .listinfo .text{
    margin: auto;
    vertical-align:middle;
    padding: 2% 0;
}



/* 上方收藏名單設定 */
.scheduleMainpage .favoriteTitle {
    position: relative;
    top: 0;
    background-color: #feda02;
    color: #000;
    font-weight: 700;
    padding: 5px;
    width: 100%;
    height: 30px;
    z-index: 999;
}

.scheduleMainpage .list {
    width: 100%;
    position: relative;
    top: 0;
    height: calc(100% - (40px + 1.5rem));
    overflow-y: scroll;
    color: var(--nav-bg-color);
}

.scheduleMainpage .change {
    display: flex;
    justify-content: space-between;
    border:solid var(--nav-bg-color);
    border: 5px 0;
}

.scheduleMainpage .change .prev,
.scheduleMainpage .change .next {
    width: 20%;
    height: fit-content;
}

.scheduleMainpage .change .prev div,
.scheduleMainpage .change .next div {
    width: 12px;
    height: 15px;
    margin: 5px ;
}
.scheduleMainpage .change .prev div {
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.scheduleMainpage .change .next div {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}





/* 收藏名單的卷軸 */
.scheduleMainpage .list::-webkit-scrollbar {
    width: 6px;
}

.scheduleMainpage .list::-webkit-scrollbar-thumb {
    width: 6px;
}

.scheduleMainpage .close {
    position: absolute;
    top:0;
    right:0;
    font-size: 25px;
    height: 30px;
    padding:3px;
    background-color: #feda02;
    color: #000;
    font-weight: 900;
    z-index: 999;
}

.scheduleMainpage .close:hover {
    -webkit-text-stroke: 2px #000;
    cursor: pointer;
}



/* 地圖--------------------------------------- */
.scheduleMainpage .mapping {
    width: 70%;
}