.bfcontainer {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/public/img/jp1.jpg);
    background-position: center;
    background-size: cover;
}
.bfRow{
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 15%;
    max-width: 66%;
}
.col1{
    flex-basis: 50;
    text-align: center;
    height: 60vh;
}

.col1 h1{
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 700;
    width: 18vw;
    text-shadow:  0.1em 0.1em 0.05em rgb(0, 0, 0) ;

}
.col1 p{
    color: #fff;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    height: 50vh;
    font-weight: 700;
    text-shadow:  0.15em 0.15em 0.05em rgb(0, 0, 0) ;
}



.col1 button{
    width: 180px;
    color: black;
    font-size: 20px;
    background: var(--white-color);
    border: 3px solid var(--niceye);
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    height: 45px;
    align-items: center;
    font-weight: 550;
}


.col1 button:hover{
    color:var(--black);
    background-color: var(--niceye);
    font-weight: 700;
    border: 3px solid rgb(255, 255, 255);
}

.bfcard{
    width: 20vw;
    height: 37.5vh;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    overflow: hidden;
    text-align: center;
    /* margin-right: 20%; */

}

.bfcard h2{
    font-size: 35px;
    color:var(--black);
    font-weight: 600;
    
}
.bfcard:hover h2{
    font-size: 35px;
    color:white;
    font-weight: 600;
    text-shadow:  0.15em 0.15em 0.05em rgb(0, 0, 0) ;
}

/* .more{
    position: absolute;
    background: none;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
} */
.bfcard p{
    color: var(--black);
    width: 90%;
    font-size: 28px;
    /* display: block; */
    /* line-height: 15px; */
    /* display: flex; */
    transform: translateX(0%);
    position: absolute;
    opacity: 0;
    /* padding: 0 15px 0 0; */
    transition: 0.8s;
    bottom: 70%;
    letter-spacing: 5px;
    text-align: center;
}

.bfcard:hover p{
    letter-spacing: 4px;
    bottom: 10%;
    font-weight: 500;
    opacity: 1;
    font-size: 28px;
    color: var(--white-color);
    text-align: center;
    text-shadow:  0.15em 0.15em 0.05em rgb(0, 0, 0) ;
}

.bfcard1{
  background-image: url(/public/img/晴空塔.jpg);  
  /* background-color: #3b5378; */
}
.bfcard1:hover{
    background-image: linear-gradient(rgba(55,107,109, 0.8),rgb(0, 0, 0,0.75)),url(/public/img/晴空塔.jpg);
}
.bfcard2{
  background-image: url(/public/img/民治神功.jpg);  
  /* background-color: #3b5378; */
}
.bfcard2:hover{
    background-image: linear-gradient(rgba(5, 5, 5, 0.8),rgba(39, 39, 39, 0.7)),url(/public/img/民治神功.jpg);
}
.bfcard3{
  background-image: url(/public/img/迪士尼.jpg); 
  /* background-color: #3b5378;  */
}
.bfcard3:hover{
    background-image: linear-gradient(rgba(5, 5, 5, 0.8),rgba(39, 39, 39, 0.7)),url(/public/img/迪士尼.jpg);
}
.bfcard4{
  background-image: url(/public/img/東京塔.jpg);  
  /* background-color: #3b5378; */
}
.bfcard4:hover{
    background-image: linear-gradient(rgba(5, 5, 5, 0.8),rgba(39, 39, 39, 0.7)),url(/public/img/東京塔.jpg);
}

.bfcard:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
}