.search {
    width: 25%;
    z-index: 100;
    position: relative;
    bottom: -35vh;
    height: 50px;
    border-radius: 15px 0 0 15px;
    background: rgb(199, 199, 199);
    font-size: 20px;
    font-weight: 450;
    padding-left: 20px;
}

.vh button{
    width: 5%;
    z-index: 100;
    position: relative;
    bottom: -33.8vh;
    height: 45px;
    border-radius:0 15px 15px 0;
    background: rgb(199, 199, 199);
    font-size: 25px;
    font-weight: 450;
    background: var(--white-color);
    color: var(--nicegreen);
    border: 0 0 0 -20px;
}

.vh button:hover{
    background: var(--niceye);
    color: var(--black);
    font-weight: 700;
}

.vh {
    height: 70vh;
    text-align: center;
}

/* .searchvh{
    width: 300px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
} */
/* ====== home ======= */
.home {
    height: 70vh;
    background-color: var(--black);
}

.home video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    clip-path: polygon(0 13%, 100% 13%, 100% 100%, 0% 100%);
    z-index: 000;
    position: absolute;
}