@import url("../CSS/navAndScrollbar.css");

header {
    background-color: #376B6D;
}

* {
    text-align: center;
    line-height: 40px;

}

header+div {
    margin-top: 50px;
    font-weight: 900;
    font-size: 45px;
    padding-bottom: 30px;
}

main {
    border: 5px solid #376B6D;
    border-radius: 10px;
    width: 40%;
    min-width: 350px;
    margin: auto;
    font-size: 18px;
}

div[class$="Title"]{
    letter-spacing: 3px;
}

button {
    padding: 5px 10px;
    border: 5px solid #376B6D;
    border-radius: 10px;
    background-color: #fff;
    color: #376B6D;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    transition: .2s ease-in;
}


.username button {
    color: #CB4042;
    border-color: #CB4042;
}

button:hover {
    box-shadow: 0 0 3px rgb(88, 88, 88);
    background-color: #376B6D;
    color: #fff;
    cursor: pointer;
}

.username button:hover {
    background-color: #CB4042;
    color: #fff;
}

.nameDiv{
    display: flex;
    justify-content: center;
}

/* 設定內部各標題設定 */

.interstTitle,
.nameTitle,
.iDTitle,
.loginTitle {
    font-weight: 900;
    background-color: #376B6D;
    width: 20%;
    color: #fff;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
}

.nameTitle {
    background-color: #CB4042;
}

.iDTitle {
    background-color: #cb8a40;
}

.loginTitle {
    background-color: #42863f;
}

/* 登入方式 */


.loginway img {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
}

.way {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* checkbox costum---------------------------- */
.container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* 隱藏多選格預設 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* 多選選單變化製作 */
.checkmark {
    position: absolute;
    top: 8px;
    left: 0px;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border: 2px solid #376B6D;
    border-radius: 5px;
}


.container:hover input~.checkmark {
    background-color: #d5e1e0;
    transition: .2s ease-in;

}


.container input:checked~.checkmark {
    background-color: #376B6D;

}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}