#Airticket_img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1)),url("../../Airticket_Img/Airticked_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.Airticketimg_none {
    display: none;
}

.Airticketimg_full {
    height: 94vh;
    width: 100%;
}

.Airticketimg_top {
    background-position: center 75%;
    height: 35vh;
    width: 100%;
    outline: 3px solid #feda02;
}